@import url('https://fonts.googleapis.com/css?family=Roboto');

body:hover{
  background-color: aliceblue;
}

/* form */
.search{
  padding: 10px 10px;
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
   .search{
    padding:20px 150px;
   }
   
}